.carousel
    padding-bottom: 80px
    &_container
        position: relative
        .container__inner
            position: relative
            display: flex
.prev,.next
    position: absolute
    border: none
    background: none
    top: 50%
    transform: translateY(-50%)
    left: 10px
    img
        width: 23px
        height: 43px
.next
    right: 10px
    left: auto

.tns-item
    max-height: 780px
    img
        display: block
        width: 100%
        margin: 0 auto
        
    